# Minimum log level to emit. One of: trace | debug | info | warn | error | fatal
LOG_LEVEL=debug

# Column width used to align the message after [tag]:
# Increase if the logging output isn't aligned.
LOG_TAG_WIDTH=11
